body.--block {
  overflow: hidden;
}

.manager-modals {
  display: none;
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 0 0 / 0%);
  padding: 20px;
  padding-top: 80px;
  justify-content: center;
  align-items: flex-start;
  transition: .5s ease;
  &.active {
    display: flex;
  }
  &.--animated {
    background-color: rgba(0 0 0 / 40%);
  }
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.manager-modal {
  display: none;
  position: relative;
  transform: translateY(-100px);
  opacity: 0;
  min-width: 350px;
  background-color: #fff;
  border: 1px solid rgba(56 124 75 / 10%);
  transition: .5s ease;
  &.active {
    display: block;
  }
  &.--animated {
    transform: translateY(0);
    opacity: 1;
  }
  &__header {
    padding: 15px;
    border-bottom: 4px solid rgba(56 124 75 / 10%);
    position: relative;
    .-title {
      font-weight: 500;
      padding-right: 50px;
    }
    .-close {
      right: 15px;
      top: 15px;
      position: absolute;
      cursor: pointer;
      opacity: 0.2;
      transition: .2s ease;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__content {
    padding: 15px;
    padding-bottom: 30px;
  }
  .-chars {
    li {
      margin-bottom: 10px;
      .-prefix {
        font-size: 0.8rem;
        opacity: 0.6;
        margin-bottom: 2px;
      }
    }
  }
}