* {
	margin: 0;
	padding: 0;
}

img, video {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}