@font-face {
  font-family: "Golos";
  src: url(/fonts/Golos-Text_Regular.ttf?5d7bc563bd99aa608d2301a9db247b79);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  src: url(/fonts/Golos-Text_Medium.ttf?3b4d13cddd570d1baa956e6ea910d205);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  src: url(/fonts/Golos-Text_DemiBold.ttf?1aeb7cbf0e3f34336b553e3e12d60b58);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  src: url(/fonts/Golos-Text_Bold.ttf?d49028485e3783e3b1aca6348f952238);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  src: url(/fonts/Golos-Text_Black.ttf?b374b00b26dd4fa12b58af0101439c73);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "NP";
  src: url(/fonts/Pompilius.ttf?be317a3cf712c833e294b892c792ed43);
  font-weight: 400;
  font-style: normal;
}
body {
  padding-top: 70px;
}

body {
  padding-top: 104px;
}

/* header */
.header {
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 8px;
  border-radius: 0 0 24px 24px;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
}
.header.--manager {
  border-radius: 0;
}
.header.--manager .header__hamburger {
  margin-top: 29px;
}
.header.--manager .header__hamburger svg {
  overflow: visible;
}
.header.--manager .header__hamburger svg path {
  transition: 0.2s ease;
}
.header.--manager .header__hamburger svg path:nth-child(1) {
  transform-origin: left top;
}
.header.--manager .header__hamburger svg path:nth-child(2) {
  transform-origin: left;
}
.header.--manager .header__hamburger svg path:nth-child(3) {
  transform-origin: left bottom;
}
.header.--manager .header__hamburger.active svg path:nth-child(1) {
  transform: rotate(45deg);
}
.header.--manager .header__hamburger.active svg path:nth-child(2) {
  transform: scaleX(0);
}
.header.--manager .header__hamburger.active svg path:nth-child(3) {
  transform: rotate(-45deg);
}
.header.--manager .header__container {
  padding: 0 40px;
}
.header.--manager .header__top {
  display: flex;
}
.header__mobile-phone {
  margin-bottom: 40px;
  font-weight: 700;
  color: var(--black);
}
.header__mobile-phone:hover {
  color: var(--green);
}
.header__top {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  height: 104px;
}
.header__hamburger {
  margin-top: 32px;
  display: flex;
  align-items: center;
  align-self: start;
  padding: 10px 10px;
  justify-content: center;
  cursor: pointer;
}
.header__hamburger:hover .-icon line:nth-child(2) {
  transform: scaleX(0.9);
}
.header__hamburger.active .-icon line:nth-child(2) {
  transform: scaleX(0.7);
}
.header__hamburger.active .-icon line:first-child {
  transform: translateY(-2px);
}
.header__hamburger.active .-icon line:last-child {
  transform: translateY(2px);
}
.header__hamburger .-word {
  margin-right: 10px;
}
.header__hamburger .-icon {
  overflow: visible;
}
.header__hamburger .-icon line {
  transition: 0.2s ease;
  transform-origin: center;
}
.header__logo {
  justify-self: start;
  margin-top: 8px;
  display: block;
}
.header__menu {
  margin-top: 33px;
  display: flex;
  justify-self: center;
  align-self: start;
}
.header__menu li {
  position: relative;
}
.header__menu li path {
  transition: 0.2s ease;
}
.header__menu li:hover > .-link path, .header__menu li:hover > a path {
  fill: var(--green);
}
.header__menu li:hover > .-droplist {
  transform: scale(1);
}
.header__menu > li {
  margin-right: 40px;
}
.header__menu > li:last-child {
  margin-right: 0;
}
.header__menu > li .-link, .header__menu > li a {
  padding: 10px 0;
}
.header__menu .-droplist {
  transition: 0.2s ease;
  transform: scaleY(0);
  transform-origin: left top;
  position: absolute;
  background-color: #fff;
  width: 150px;
  left: -16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 8px;
}
.header__menu .-droplist .-link, .header__menu .-droplist a {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu .-droplist .-droplist {
  width: 250px;
  transform: scaleX(0);
  top: 0;
  left: 100%;
}
.header__menu .-link {
  cursor: default;
}
.header__menu a {
  color: var(--black);
  transition: 0.2s ease;
}
.header__menu a.-link {
  cursor: pointer;
}
.header__menu a:hover {
  color: var(--green);
}
.header__contacts {
  margin-top: 43px;
}
.header__contacts .-link {
  margin-right: 40px;
}
.header__contacts .-phone {
  font-weight: 500;
}
.header__contacts a {
  color: var(--black);
  transition: 0.2s ease;
}
.header__contacts a:hover {
  color: var(--green);
}
.header__icons {
  margin-top: 40px;
  display: flex;
  align-items: start;
  justify-self: end;
}
.header__account {
  margin-right: 25px;
  cursor: pointer;
  position: relative;
}
.header__account path {
  transition: 0.2s ease;
}
.header__account:hover > svg > path {
  fill: #84a92b;
}
.header__account:focus .-droplist {
  display: block;
}
.header__account .-droplist {
  top: 40px;
  right: -25px;
  width: 180px;
  background-color: #F4F4F4;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.15) 0 4px 15px;
  border-radius: 16px;
  overflow: hidden;
  display: none;
  transition: none;
  z-index: 1;
}
.header__account .-droplist:hover {
  display: block;
}
.header__account .-droplist li {
  margin-bottom: 2px;
}
.header__account .-droplist li:last-child {
  margin-bottom: 4px;
}
.header__account .-droplist .-link, .header__account .-droplist a {
  cursor: pointer;
  padding: 15px 25px;
  display: flex;
  color: var(--black);
  transition: 0.2s ease;
  background-color: #fff;
}
.header__account .-droplist .-link.--exit, .header__account .-droplist a.--exit {
  color: #828282;
}
.header__account .-droplist .-link:hover, .header__account .-droplist a:hover {
  color: var(--green);
}
.header__account .-droplist .-link:hover path, .header__account .-droplist a:hover path {
  stroke: #84a92b;
}
.header__account .-droplist .-link .-icon, .header__account .-droplist a .-icon {
  margin-right: 8px;
}
.header__account .-droplist .-link .-num, .header__account .-droplist a .-num {
  color: var(--green);
}
.header__cart {
  display: block;
  position: relative;
}
.header__cart path {
  transition: 0.2s ease;
}
.header__cart:hover path {
  fill: #84a92b;
}
.header__cart .-num {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  color: #fff;
}
.header__drop-wrapper {
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}
.header__drop {
  padding-top: 60px;
  padding-bottom: 60px;
}
.header__drop-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}
.header__drop-menu .-side {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.header__drop-menu a {
  color: var(--black);
  transition: 0.2s ease;
  line-height: 1.8em;
  display: block;
}
.header__drop-menu a:hover {
  color: var(--green);
}
.header__downloads {
  display: flex;
  justify-content: center;
}
.header__downloads a {
  display: block;
  margin-right: 10px;
}
.header__downloads a:last-child {
  margin-right: 0;
}

/* /header */
